.login__button {
  background-color: transparent;
  /* color: var(--light); */
  color: var(--primaryitemcolor);
  padding: 10px 0;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--primaryitemcolor);
  font-size: 18px;
  transition: 0.3s;
}

.login__button_active {
  background-color: transparent;
  color: var(--light);
  color: var(--light);
  padding: 10px 0;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--light);
  font-size: 18px;
  transition: 0.3s;
}

.login__button:hover {
  background-color: #ef4c06;
  color: var(--light);
}

.login__button_active:hover {
  background-color: var(--light);
  color: var(--dark);
}

.bump.login__button {
  animation: bump 0.3s ease 0s 1 normal;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
