.edit_user_modal_content {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 700px; */
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 5px;
  /* text-align: center; */
}

.edit_user_modal_content label {
  font-size: 15px;
  float: left;
  font-weight: 500;
  margin-left: 2px;
}

.edit_user_modal_content h2 {
  /* color: var(--primaryitemcolor); */
  font-size: 30px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.edit_user_modal_content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-items: flex-start;
}

.button_modal_div {
  text-align: right;
  margin-top: 40px;
}

.edit_user button.close-button {
  margin-top: 10px;
  background-color: #ccc;
  color: #fff;
}

.edit_user_horizontal {
  display: flex;
}

.edit_user_input {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}

.edit_user_content {
  width: 47%;
}

.edit_user_label {
  display: flex;
  justify-content: space-between;
}

.edit_user_button {
  color: #ffffff;
  background-color: #413fbc;
  border-color: #413fbc;
}

.edit_user_button:hover {
  background-color: #3a38a7;
  border-color: #3a38a7;
}
