.container {
  position: relative;
  padding: 108px 0px 390px 0px;
  padding-left: 5%;
  padding-right: 5%;
  /* min-height: 620px; */
  /* margin-right: 10%;
  margin-left: 10%; */
  color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
  background-position: 50% 0px;
  background-size: auto 75%;
  background-repeat: no-repeat;
  /* overflow-x: hidden; */
  /* background-color: rgb(7, 7, 61); */
}

.row {
  padding: 130px 0 50px 0;
  max-width: 1200px;
}

.bg_image {
  background-image: url("../../assets/image/chart.png");
  background-size: cover;
  background-position: center;
}

.text__div {
  /* position: relative; */
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10%;
  color: var(--light);
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  /* margin-bottom: 20px; */
  display: flex;
  width: 50%;
}

.text__div h1 {
  font-weight: 500px;
  font-size: 60px;
  margin-bottom: 20px;
} 

/* .text__div h1 span {
  color: var(--primaryitemcolor);
}

.text__div p {
  font-size: 20px;
  margin-bottom: 20px;
}

/* .devices__image {
  display: block;
  margin-left: auto;
  width: 87%;
} */

.markets{
  width: 100%;
}

.markets__properties {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  overflow-x: scroll;
  /* padding-left: 150px; */
  /* padding-right: 150px; */
}

.markets__properties::-webkit-scrollbar{
  display: none;
}

.markets__properties .markets__properties__text {
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-size: 25px;
  color: var(--light);
  /* padding: 0px 8px; */
  box-sizing: border-box;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.2s ease 0s;
  flex-shrink: 0;
  /* font-size: 32px;
  font-weight: 700;
  color: var(--light); */
}

.markets__properties .markets__properties__text:hover {
  color: var(--secondarytextcolor);
}

/* .number__properties__text__underline {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-size: 25px;
  color: var(--light);
  padding: 0px 8px;
  box-sizing: border-box;
  margin-right: 16px;
  text-decoration: underline;
} */

/* .number__properties .number__properties__text {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondarytextcolor);
} */

.buttons {
  display: flex;
}

/* .order_button {
  color: var(--light);
  text-decoration: none;
  margin-right: 20px;
}

.order_button:hover {
  color: var(--light);
} */

.trade_now_button {
  color: var(--light);
  text-decoration: none;
  margin-right: 20px;
}

.trade_now_button:hover {
  color: var(--light);
}
.practice_button {
  color: var(--light);
  text-decoration: none;
}

.practice_button:hover {
  color: var(--light);
}

.devices__image{
  position: absolute;
  background: url("../../assets/image/devices.webp");
  /* background-size: 100% 100%; */
  background-size: contain;
  top: 30px;
  left: 50%;
  width: 600px;
  height: 600px;
}

/* @media only screen and (min-width: 1400px) and (min-height: 900px) {
  .row {
    padding: 150px 0;
  }
} */

@media only screen and (max-width: 1200px) {
  .devices__image {
    display: none;
  }
  .text__div {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .text__div {
    position: static;
    transform: translateY(0%);
    text-align: center;
    padding: 0 2% 0 2%;
  }

  .buttons {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 576px) {
  .text__div {
    padding: 0 2% 0 2%;
  }

  .text__div h1 {
    font-size: 36px;
  }
}
