.sidebar {
  background-color: #ffffff;
}

.sidebar ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  color: #666666;
  font-weight: 500;
  text-decoration: none;
  border-right: 5px solid #ffffff;
}

.sidebar ul li a i, .sidebar ul li a span {
  vertical-align: middle;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar li {
  list-style-type: none;
}

.sidebar ul {
  padding: 0;
}

.sidebar li a:hover {
  color: var(--primaryitemcolor);
}

.sidebar h4 {
  color: #505050;
  font-weight: 700;
  font-size: 20px;
}

.sidebar img {
  width: 15%;
  height: 100%;
  margin-right: 5px;
}

.logo_text {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-size: 20px;
  color: #505050;
  transition: opacity 0.2s ease 0s;
}

.logo_text:hover {
  color: var(--tertiarytextcolor);
}

.logo {
  margin-bottom: 30px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .sidebar ul li a {
    font-size: 0.95em;
  }

  .sidebar ul li a i {
    margin-right: 10px;
}
}



