.container {
  position: relative;
  padding: 100px 0px 100px 0px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  box-sizing: border-box;
  background-position: 50% 0px;
  background-size: auto 75%;
  background-repeat: no-repeat;
}

.row {
  padding: 130px 0 50px 0;
  max-width: 1200px;
}

.bg_image {
  background-image: url("../../../assets/image/chart.png");
  background-size: cover;
  background-position: center;
}

.text__div {
  /* position: relative; */
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10%;
  color: var(--light);
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  display: flex;
  width: 50%;
}

.text__div h1 {
  font-weight: 500px;
  font-size: 60px;
  margin-bottom: 20px;
} 

.markets{
  width: 100%;
  margin-bottom: 3%;
}

.markets__properties {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  overflow-x: scroll;
}

.markets__properties::-webkit-scrollbar{
  display: none;
}

.markets__properties .markets__properties__text {
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  user-select: none;
  font-size: 25px;
  color: var(--light);
  box-sizing: border-box;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.2s ease 0s;
  flex-shrink: 0;
}

.markets__properties .markets__properties__text:hover {
  color: var(--secondarytextcolor);
}

.buttons {
  display: flex;
}

.trade_now_button {
  color: var(--light);
  text-decoration: none;
  margin-right: 20px;
}

.trade_now_button:hover {
  color: var(--light);
}
.practice_button {
  color: var(--light);
  text-decoration: none;
}

.practice_button:hover {
  color: var(--light);
}

.devices__image{
  position: absolute;
  background: url("../../../assets/image/devices.webp");
  background-size: contain;
  top: 30px;
  left: 50%;
  width: 600px;
  height: 600px;
}

@media only screen and (max-width: 1200px) {
  .devices__image {
    display: none;
  }
  .text__div {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    padding-left: 0%;
    padding-right: 0%;
    max-width: 90%;
  }

  .text__div {
    position: static;
    transform: translateY(0%);
    text-align: center;
    padding: 0 2% 0 2%;
  }

  .text__div h1 {
    font-size: 50px;
  }

  .buttons {
    justify-content: center;
    align-items: center;
  }

  .markets__properties .markets__properties__text{
    font-size: 20px;
  }
}